body {
    font-family: sans-serif;
}

fieldset {
    width: 260px;
    
}

#lappu{/* ToDo-lista */
    
    border: 1px solid black;
    padding: 5px;
    width: 250px;   
    background: yellow;
}


#lisays { /* input ja buttonit */
    
    padding-top: 100px;
}

